#inicio
{
  float: left;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgba(192,192,192,1);
  background-image: url('../ng-img/img-info.png'), url('../ng-img/nav-logo.png');
  background-position: right bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 200px, 600px auto;
}


@media all and (max-width: 768px)
{
  #inicio
  {
    background-size: auto 200px, 400px auto;
  }
}

